@{
    ViewBag.Title = "Home Page";
}

<h2>Bienvenido</h2>
<!--mantenimiento-->

@Html.ActionLink("Agregar empleado", "create", "empleados", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Ver empleado", "index", "empleados", null, new { @class = "btn btn-primary" }) <br /><br />

@Html.ActionLink("Agregar cargos", "create", "cargos", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Ver cargos", "index", "cargos", null, new { @class = "btn btn-primary" }) <br /><br />

@Html.ActionLink("Agregar departamentos", "create", "departamentos", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Ver departamentos", "index", "departamentos", null, new { @class = "btn btn-primary" }) <br /><br />

<!--procesos-->
@Html.ActionLink("Agregar licencias", "create", "licencias", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Ver licencias", "index", "licencias", null, new { @class = "btn btn-primary" }) <br /><br />

@Html.ActionLink("Agregar permisos", "create", "permisos", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Ver permisos", "index", "permisos", null, new { @class = "btn btn-primary" }) <br /><br />

@Html.ActionLink("Agregar vacaciones", "create", "vacaciones", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Ver vacaciones", "index", "vacaciones", null, new { @class = "btn btn-primary" }) <br /><br />

<!--informes-->
@Html.ActionLink("Buscar nominas", "buscar", "nominas", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar empleados", "buscar", "empleados", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar departamentos", "buscar", "departamentos", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar cargos", "buscar", "cargos", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar entradaEmpleados", "buscar", "entradaEmpleados", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar salidaEmpleados", "buscar", "salidaEmpleadoes", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar vacaciones", "buscar", "vacaciones", null, new { @class = "btn btn-primary" }) <br /><br />
@Html.ActionLink("Buscar permisos", "buscar", "permisos", null, new { @class = "btn btn-primary" }) <br /><br />






